body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
button{
    background-color: var(--nd2-color);
    display: block;
    width: 90%;
    padding: 3cqw;
    font-size: 3cqw;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5cqw;
    justify-self: center;
}
button:hover{
    background-color: #1b4d9e;
}
/* -------------------------------------- */
#pdfLoader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

#pdfLoader.active {
    visibility: visible;
}

.loader-box {
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

.progress-bar {
    width: 100%;
    height: 10px;
    background: #ddd;
    margin: 10px 0;
    border-radius: 5px;
    overflow: hidden;
}

.progress-fill {
    height: 100%;
    width: 0%;
    background: orange;
    transition: 0.3s;
}

.progress-percent {
    font-weight: bold;
}
/* ------------------------------------------- */

:root {
    --main-color: #ff821b;
    --nd2-color: #1c4587;
    --solid-color: #fc744e;
}

.slides {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5vw;
    container-type: inline-size;
    width: 100vw;
    justify-self: center;

    margin: 0;
}

.slides .slide {
    margin: 0;
    padding: 0;
    width: 100%;
    aspect-ratio: 16/9;
    color: yellow;
    font-size: 30px;
    overflow: hidden;
    container-type: inline-size;
}


.page{
    aspect-ratio: 297 / 210;
    background-color: antiquewhite;
    display: grid;
    place-items: center;
    page-break-after: always;
    break-after: page;
}

/* ----------------------------------------------------- */
.slide1 {
    background-image: url(asserts/IMG_20180907_111722.jpg);
    background-size: cover;
    background-position: center center;
    filter: brightness(130%);

    position: relative;
}

.slide1 .overlay {
    background: radial-gradient(#00235bad, #02183a);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 2cqw;
    z-index: 0;
}

.slide1 .overlay .logo1 {
    width: 14cqw;
    position: absolute;
    top: 3cqw;
    left: 3cqw;
    filter: brightness(110%);
}

.slide1 .overlay .logo2 {
    width: 14cqw;
    position: absolute;
    top: 3cqw;
    right: 3cqw;
    filter: brightness(120%);
}

.slide1 .overlay .sub1 {
    font-weight: bold;
    color: #ffffff;
    font-size: 3.4cqw;
    text-align: center;
    margin-top: 7cqw;
}

.slide1 .overlay .mainsub {
    font-weight: bold;
    text-shadow: .3cqw .3cqw 1.4cqw var(--main-color);
    font-size: 5cqw;
    margin: 0 8cqw;
    color: var(--main-color);
    text-align: center;
    filter: brightness(140%);
}

.slide1 .overlay .sub2 {
    color: white;
    font-size: 3.4cqw;
    font-weight: bold;
    text-align: center;
}

.slide1 .overlay .flowers {
    width: 125cqw;
    position: absolute;
    z-index: -1;
    bottom: -20cqw;
    right: 50%;
    transform: translate(50%);
    filter: brightness(84%) contrast(120%) saturate(105%);
}

/* section 2 */
.slide2 {
    /* background-color: #720303; */
    background-color: var(--main-color);
    color: white;
    display: block;
}

.slide2 .box {
    background-color: var(--nd2-color);
    padding: 3cqw;
    border-radius: 3cqw;
}

.slide2 div {
    color: #ffcc00;
    text-shadow: .2cqw .2cqw 2cqw;
    font-weight: bold;
    font-size: 4cqw;
    text-align: left;
    margin-left: 3cqw;
    margin-top: 2.8cqw;
    margin-left: 3cqw;
    margin-right: 3cqw;
}

.slide2 .contain {
    display: flex;
    gap: 8cqw;
    margin: 0;
}

.slide2 div span {
    font-weight: 200;
    text-align: left;
    color: #ffffff;
    text-decoration: underline;
    text-decoration-color: rgb(255, 213, 0);
    text-underline-offset: 1cqw;
    text-shadow: none;
}

.slide3 {
    /* background-color: var(--solid-color); */
    background-color: var(--main-color);
    position: relative;
}

.slide3 .overlay {
    background-color: var(--nd2-color);
    width: 100%;
    height: 80%;
    position: absolute;
    top: 8cqw;
}

.slide3 .boxes {
    display: flex;
    gap: 2cqw;
    height: 9cqw;
}

.slide3 .boxes .box {
    background-color: white;
    height: 2cqw;
    width: 2cqw;
    transform: rotate(45deg);
    align-self: center;
    margin-bottom: 1cqw;
}

.slide3 .boxes .box4 {
    margin-left: auto;
}

.slide3 .boxes .box:first-child {
    margin-left: 9cqw;
}

.slide3 .boxes .box:last-child {
    margin-right: 9cqw;
}

.slide3 .boxes .title {
    color: white;
    font-size: 4cqw;
    font-weight: bold;
    align-self: center;
    justify-self: center;
    position: absolute;
    right: 50%;
    transform: translate(50%);
}

.slide3 ul {
    font-size: 3cqw;
    width: 47%;
    margin-top: 7cqw;
    margin-left: 3cqw;
}

.slide3 ul li {
    margin: 3cqw 0;
}

.slide3 .overlay .image {
    /* width: 20cqw;
    height: 20cqw; */
    background-color: var(--main-color);
    position: absolute;
    right: 7cqw;
    top: 7cqw;
    bottom: 3cqw;
    left: 62cqw;
}

.slide3 .overlay .image .img {
    background-image: url(asserts/computer\ image.jpg);
    background-position: center center;
    background-size: cover;
    filter: brightness(110%);
    border: .3cqw solid white;
    background-color: white;
    position: absolute;
    left: 2cqw;
    top: -2cqw;
    bottom: 2cqw;
    right: -2cqw;
}

/* slide4 */
.slide4 {
    background-color: var(--nd2-color);
}

/* section 1 */
.slide4 .section1 {
    /* background-color: yellow; */
    height: 30%;
    width: 100%;
    container-type: inline-size;
    position: relative;
    display: flex;
    align-items: center;
}

.slide4 .section1 .circle1,
.circle2 {
    background-color: #64ccef;
    height: 8cqw;
    width: 8cqw;
    border-radius: 50%;
}

.slide4 .section1 .circle1 {
    position: absolute;
    left: -3cqw;

}

.slide4 .section1 .circle2 {
    position: absolute;
    right: -3cqw;
}

.slide4 .section1 .subcircle1,
.subcircle2 {
    width: 2cqw;
    height: 2cqw;
    background-color: white;
    border-radius: 50%;
    position: absolute;
}

.slide4 .section1 .subcircle1 {
    left: 6cqw;
}

.slide4 .section1 .subcircle2 {
    right: 6cqw;
}

.slide4 .section1 .box1,
.box2 {
    width: 1.5cqw;
    height: 1.5cqw;
    background-color: white;
    transform: rotate(45deg);
    position: absolute;
}

.slide4 .section1 .box1 {
    left: 22cqw;
}

.slide4 .section1 .box2 {
    right: 22cqw;
}

.slide4 .section1 .heading {
    /* justify-self: center; */
    color: white;
    font-weight: bold;
    font-size: 4.5cqw;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

/* section 2 */
.slide4 .section2 {
    display: flex;
    /* align-items: center; */
}

.slide4 .section2 .subsect1 {
    display: flex;
    align-items: center;
}

.slide4 .section2 .subsect1 .image {
    background-image: url(asserts/data\ store.jpg);
    width: 15cqw;
    height: 70%;
    background-position: center center;
    background-size: cover;
    margin-left: 6cqw;
    border: .1cqw solid white;

}

.slide4 .section2,
.section3 {
    font-size: 3cqw;
    color: white;
    height: 30%;
}

.slide4 .section2 {
    background-color: var(--main-color);
}

.slide4 .section2 .subsect1 {
    width: 50%;
}

.slide4 .section2 .subsect1 .text {
    margin-left: 2cqw;
}

/* section 2 subsect2 */
.slide4 .section2 .subsect2 {
    display: flex;
    align-items: center;
}

.slide4 .section2 .subsect2 .image {
    background-image: url(asserts/data\ store\ easily.jpg);
    width: 14cqw;
    height: 70%;
    background-position: center center;
    background-size: cover;
    margin-left: 2cqw;
    border: .1cqw solid white;
}

.slide4 .section2 .subsect2 .text {
    margin-left: 2cqw;
    width: 50%;
}

/* section 3 subsect1*/
.slide4 .section3 {
    /* background-color: rgb(89, 89, 0); */
    container-type: inline-size;
    display: flex;
    /* justify-content: center; */
    gap: 4cqw;
}

.slide4 .section3 .subsect1 {
    /* background-color: green; */
    height: 100%;
    display: flex;
    width: 40%;
    align-items: center;
    margin-left: 6cqw;
}

.slide4 .section3 .subsect1 .text {
    margin-left: 2cqw;
}

.slide4 .section3 .subsect1 .image {
    background-image: url(asserts/economical\ development.jpg);
    width: 18cqw;
    height: 70%;
    background-position: center center;
    background-size: cover;
    border: .1cqw solid white;
}

/* section 3 subsect2 */
.slide4 .section3 {
    /* background-color: rgb(89, 89, 0); */
    container-type: inline-size;
    display: flex;
    /* justify-content: center; */
    gap: 4cqw;
}

.slide4 .section3 .subsect2 {
    /* background-color: green; */
    height: 100%;
    display: flex;
    width: 50%;
    align-items: center;
    margin-left: 4cqw;
}

.slide4 .section3 .subsect2 .text {
    margin-left: 2cqw;
}

.slide4 .section3 .subsect2 .image {
    background-image: url(asserts/eco\ decision.jpg);
    flex-shrink: 0;
    width: 13cqw;
    height: 70%;
    background-position: center center;
    background-size: cover;
    border: .1cqw solid white;
}

.slide5 {
    background-color: var(--main-color);
    position: relative;
}

.slide5 .overlay {
    display: flex;
    background-color: var(--nd2-color);
    height: 92%;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
}

.slide5 .overlay .bigball {
    width: 10cqw;
    height: 10cqw;
    border-radius: 50%;
    transform: translate(-50%);
    background-color: #64ccef;
    position: absolute;
    bottom: 4cqw;
    display: grid;
    place-items: center;
}

.slide5 .overlay .bigball .miniball {
    width: 2.7cqw;
    height: 2.7cqw;
    background-color: var(--main-color);
    border-radius: 50%;
    position: absolute;
    right: -4cqw;
}

.slide5 .overlay .bigball2 {
    width: 10cqw;
    height: 10cqw;
    border-radius: 50%;
    transform: translate(50%);
    background-color: #64ccef;
    position: absolute;
    top: 4cqw;
    right: 0cqw;
    display: grid;
    place-items: center;
}

.slide5 .overlay .bigball2 .miniball2 {
    width: 2.7cqw;
    height: 2.7cqw;
    background-color: var(--main-color);
    border-radius: 50%;
    position: absolute;
    left: -4cqw;
}

.slide5 .overlay .section1 {
    /* background-color: aquamarine; */
    width: 40%;
    height: 100%;
}

.slide5 .overlay .section1 .imgbox {
    background-color: var(--main-color);
    position: relative;
    width: 30cqw;
    height: 30cqw;
    margin-left: 7cqw;
    margin-top: 5cqw;
}

.slide5 .overlay .section1 .imgbox .image {
    width: 30cqw;
    height: 30cqw;
    background-image: url(asserts/data\ explaination.jpg);
    background-size: cover;
    background-position: center center;
    border: .1cqw solid white;
    position: absolute;
    justify-self: center;
    top: 2cqw;
    left: 2cqw;

}

.slide5 .overlay .section2 {
    font-size: 3cqw;
    color: white;
    width: 45%;
    /* background-color: antiquewhite; */
    height: 100%;
}

.slide5 .overlay .section2 .title {
    font-size: 5cqw;
    font-weight: bold;
    margin-left: 6cqw;
    margin-top: 9cqw;
}

.slide5 .overlay .section2 ul li {
    margin: 1cqw 4cqw 1cqw 0;
}

.slide5 .overlay .section3 {
    /* background-color: black; */
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slide5 .overlay .section3 .boxes {
    display: grid;
    gap: 2cqw;
    justify-self: center;
    align-self: center;
    margin-right: 3cqw;
}

.slide5 .overlay .section3 .box {
    width: 2cqw;
    height: 2cqw;
    background-color: #64ccef;
    transform: rotate(45deg);
}

.slide5 .overlay .section3 .box:nth-child(2) {
    background-color: var(--main-color);
}

/* slide 6 */
.slide6 {
    background-color: var(--main-color);
    position: relative;
}

.slide6 .contain {
    width: 100%;
    height: 100%;
    background-color: var(--nd2-color);
    position: absolute;
    bottom: 50%;
    transform: translatey(50%);
}

.slide6 .contain .heading {
    background-color: var(--main-color);
    height: 30%;
    width: 100%;

    position: relative;

}

.slide6 .contain .heading .boxes {
    display: flex;
    gap: 2cqw;
    position: absolute;
    top: 3cqw;
    left: 3cqw;
}

.slide6 .contain .heading .box {
    height: 2cqw;
    width: 2cqw;
    transform: rotate(45deg);
    background-color: white;
}

.slide6 .contain .heading .title {
    font-size: 5cqw;
    color: white;
    font-weight: bold;

    position: absolute;
    right: 7cqw;
    bottom: 2cqw;
}

.slide6 .contain ul {
    font-size: 3.7cqw;
    color: white;
    /* background-color: rgb(108, 108, 22); */
    width: 43cqw;
    height: 23cqw;

    position: absolute;
    right: 5cqw;
    bottom: 5cqw;
}

.slide6 .contain .image {
    width: 21cqw;
    height: 22cqw;
    background-color: var(--main-color);
    position: absolute;
    left: 6cqw;
    bottom: 6cqw;
}

.slide6 .contain .image .img {
    border: .1cqw solid white;
    background-image: url(asserts/eco\ planing.jpg);
    background-position: center center;
    background-size: cover;
    width: 33cqw;
    height: 41cqw;
    position: absolute;
    left: 1.3cqw;
    bottom: 1.3cqw;
}

/* slide 6 */
.slide7 {
    background-color: var(--main-color);
    position: relative;
    container-type: inline-size;
}

.slide7 .contain {
    color: white;
    background-color: var(--nd2-color);
    height: 95%;
    width: 100%;
    position: absolute;
    bottom: 50%;
    transform: translatey(50%);
    display: flex;

}

.slide7 .contain .image {
    background-image: url(asserts/banking.jpg);
    border: .1cqw solid white;
    width: 36cqw;
    height: 40cqw;
    position: absolute;
    top: 50%;
    left: 8cqw;
    transform: translatey(-50%);
    background-size: cover;
    background-position: center center;

}

.slide7 .contain .bgimg {
    background-color: var(--main-color);
    position: absolute;
    width: 20cqw;
    height: 21cqw;
    bottom: 5.7cqw;
    right: 54.8cqw;
}

.slide7 .contain ul {
    font-size: 3.8cqw;
    position: absolute;
    right: 12cqw;
    bottom: 6cqw;
}

.slide7 .contain ul li {
    margin: 2cqw 0;
}

.slide7 .contain .title {
    font-size: 8cqw;
    font-weight: bold;
    position: absolute;
    right: 24cqw;
    top: 7cqw;
}

.slide7 .contain .bigball {
    width: 10cqw;
    height: 10cqw;
    background-color: #64ccef;
    border-radius: 50%;
    position: absolute;
    right: 0;
    transform: translate(50%);
    top: 4cqw;
}

.slide7 .contain .bigball .miniball {
    width: 3cqw;
    height: 3cqw;
    border-radius: 50%;
    background-color: #ff821b;
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    right: 11cqw;
}

.slide7 .contain .boxes {
    display: flex;
    gap: 2cqw;
    position: absolute;
    right: 26cqw;
    bottom: 6cqw;
}

.slide7 .contain .boxes .box:nth-child(2) {
    background-color: var(--main-color);
}

.slide7 .contain .boxes .box:first-child {
    background-color: #64ccef;
}

.slide7 .contain .boxes .box:last-child {
    background-color: #64ccef;
}

.slide7 .contain .boxes .box {
    width: 2cqw;
    height: 2cqw;
    background-color: white;
    transform: rotate(45deg);
}

/* slide 8 */
.slide8 {
    display: flex;
    background-color: var(--nd2-color);
    container-type: inline-size;
    font-size: 2cqw;
}

.slide8 .section1 {
    width: 70%;
    position: relative;
}

.slide8 .section1 .title {
    font-size: 7cqw;
    font-weight: bold;
    margin-left: 7cqw;
    margin-top: 7cqw;
    color: white;
}

.slide8 .section1 ul {
    font-size: 4cqw;
    color: white;
    margin-left: 4cqw;
}

.slide8 .section1 ul li {
    margin: 2cqw 0;
}

.slide8 .section2 {
    background-color: var(--main-color);
    width: 30%;
    position: relative;
}

.slide8 .section2 .image {
    width: 10cqw;
    height: 29cqw;
    background-color: var(--main-color);
    position: absolute;
    right: 29cqw;
    top: 50%;
    transform: translatey(-50%);
}

.slide8 .section2 .image .img {
    background-image: url(asserts/e-commerce\ shopping.jpg);
    width: 34cqw;
    height: 42cqw;
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    left: 1.4cqw;
    border: .1cqw solid white;
}

.slide8 .section1 .boxes {
    display: flex;
    gap: 3cqw;
    position: absolute;
    left: 50%;
    bottom: 6cqw;
    transform: translate(-50%);
}

.slide8 .section1 .boxes .box {
    width: 2cqw;
    height: 2cqw;
    background-color: white;
    transform: rotate(45deg);
}

.slide8 .section1 .boxes .box:first-child {
    background-color: #64ccef;
}

.slide8 .section1 .boxes .box:last-child {
    background-color: #64ccef;
}

.slide8 .section1 .boxes .box:nth-child(2) {
    background-color: var(--main-color);
}

.slide9 {
    background-color: var(--main-color);
    position: relative;
}

.slide9 .contain {
    display: flex;
    font-size: 3cqw;
    width: 100%;
    height: 95%;
    background-color: var(--nd2-color);
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
}

.slide9 .contain .section1 {
    width: 60%;
    height: 100%;
    /* background-color: rgb(173, 173, 173); */
    position: relative;
}

.slide9 .contain .section1 .boxes {
    display: flex;
    gap: 3cqw;
    position: absolute;
    left: 50%;
    transform: translate(-70%);
    top: 80%;
}

.slide9 .contain .section1 .boxes .box {
    width: 2cqw;
    height: 2cqw;
    background-color: #64ccef;
    transform: rotate(45deg);
}

.slide9 .contain .section1 .boxes .box:nth-child(2) {
    background-color: var(--main-color);
}

.slide9 .contain .section1 .title {
    font-size: 5cqw;
    font-weight: bold;
    color: white;
    margin-top: 10cqw;
    margin-left: 6cqw;

}

.slide9 .contain .section2 .image {
    width: 30cqw;
    height: 30cqw;
    background-color: var(--main-color);
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    right: 5cqw;
}
.slide9 ul{
    margin-left: 4cqw;
}
.slide9 .contain .section2 .image .img {
    background-image: url(asserts/laptop\ work.jpg);
    background-size: cover;
    background-position: center center;
    border: .1cqw solid white;
    width: 130%;
    height: 140%;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 4%;
}

/* slide 10 */
.slide10 {
    background-color: var(--nd2-color);
    position: relative;
    display: flex;
}

.slide10 .section2 {
    font-size: 2cqw;
    width: 50%;
    /* background-color: rgb(58, 66, 66); */
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
}

.slide10 .section2 .heading {
    font-size: 5cqw;
    font-weight: bold;
    color: white;
}

.slide10 .section2 .title {
    color: white;
    font-size: 3cqw;
    margin: 1cqw 0;
    text-align: center;
}

.slide10 .section2 .text {
    font-size: 1.9cqw;
    text-align: center;
}

.slide10 .section2 .box {
    width: 2cqw;
    height: 2cqw;
    background-color: #64ccef;
    transform: rotate(45deg);
}

.slide10 .section2 .sub {
    display: flex;
    margin-top: 5cqw;
    gap: 4cqw;
    justify-content: center;
    align-items: center;
    margin-bottom: 3cqw;
}

.slide10 .section1 {
    height: 120%;
    width: 40%;
    background-color: #64ccef;
    position: absolute;
    left: 0;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    top: 50%;

    background-image: url(asserts/research1.jpg);
    background-position: left center;
    background-size: cover;
    border: .5cqw solid white;
}

.slide10 .section3 {
    height: 120%;
    width: 40%;
    background-color: #229dca;
    position: absolute;
    right: 0;
    border-radius: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    border: .5cqw solid white;

    background-image: url(asserts/research2.jpg);
    background-position: right center;
    background-size: cover;
}

/* slide 11 */
.slide11 {
    background-color: var(--main-color);
    font-size: 2cqw;
    position: relative;
    container-type: inline-size;
}

.slide11 .contain {
    background-color: var(--nd2-color);
    height: 95%;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
}

.slide11 .contain .image {
    width: 37cqw;
    height: 42cqw;
    background-color: #fc744e;
    position: absolute;
    top: 52%;
    transform: translatey(-50%);
    left: 6cqw;
}

.slide11 .contain .image .img {
    width: 100%;
    height: 100%;
    background-image: url(asserts/time\ saves.jpg);
    background-size: cover;
    background-position: center center;
    border: .2cqw solid white;
    position: absolute;
    right: 1.3cqw;
    bottom: 1.3cqw;
    transform: rotatey(180deg);
}

.slide11 .contain .heading {
    position: absolute;
    right: 30cqw;
    top: 6cqw;
    font-size: 6cqw;
    font-weight: bold;
    color: white;
}

.slide11 .contain ul {
    list-style: none;
    font-size: 3.7cqw;
    position: absolute;
    right: 16cqw;
    bottom: 5cqw;
    /* color: white; */
}

.slide11 .contain ul li {
    margin: 1cqw 0;
}

.slide11 .contain .bigball {
    width: 10cqw;
    height: 10cqw;
    background-color: #64ccef;
    position: absolute;
    right: -3cqw;
    top: 3cqw;
    border-radius: 50%;
}

.slide11 .contain .bigball .miniball {
    width: 3cqw;
    height: 3cqw;
    background-color: var(--main-color);
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translatey(-50%);
    right: 12cqw;
}

/* slide 12 */
/* ⚠ Cyber fraud  
⚠ Technical knowledge  
⚠ Data privacy   */
.slide12 {
    background-color: var(--main-color);
    position: relative;
}

.slide12 .contain {
    background-color: var(--nd2-color);
    height: 95%;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
}

.slide12 .contain .image {
    width: 37cqw;
    height: 42cqw;
    background-color: var(--main-color);
    position: absolute;
    right: 10cqw;
    top: 7cqw;
}

.slide12 .contain .image .img {
    width: 100%;
    height: 100%;
    background-image: url(asserts/cyber\ crime.jpg);
    background-size: cover;
    background-position: center center;
    border: .2cqw solid white;
    position: absolute;
    left: 1.3cqw;
    bottom: 1.3cqw;
    transform: rotatey(180deg);
    filter: brightness(175%);
}

.slide12 .contain .title {
    color: white;
    font-weight: bold;
    font-size: 6.3cqw;
    left: 10cqw;
    top: 7cqw;
    position: absolute;
}

.slide12 .contain ul {
    font-size: 3.7cqw;
    position: absolute;
    top: 16cqw;
    left: 2cqw;
    list-style: none;
}

.slide12 .contain ul li {
    margin: 1cqw 0;
}

.slide12 .contain .bigball {
    width: 10cqw;
    height: 10cqw;
    background-color: #64ccef;
    position: absolute;
    bottom: 3cqw;
    border-radius: 50%;
    transform: translate(-50%);
}

.slide12 .contain .bigball .miniball {
    width: 3cqw;
    height: 3cqw;
    background-color: var(--main-color);
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translatey(-50%);
    left: 12cqw;
}

/* slide 13 */
.slide13 {
    display: flex;
}

.slide13 .contain1 {
    background-color: var(--nd2-color);
    width: 70%;
    height: 100%;
}

.slide13 .contain2 {
    background-color: var(--main-color);
    height: 100%;
    width: 30%;
    position: relative;
}

.slide13 .contain1 .title {
    color: white;
    font-weight: bold;
    font-size: 6cqw;
    margin-bottom: 3cqw;
    margin-left: 6cqw;
    margin-top: 6cqw;
}

.slide13 .contain1 .para {
    color: white;
    font-size: 2.3cqw;
    width: 49cqw;
    margin-left: 6cqw;
}

.slide13 .contain1 .boxes {
    display: flex;
    gap: 2cqw;
    justify-self: center;
    margin-top: 5cqw;
}

.slide13 .contain1 .boxes .box {
    width: 2cqw;
    height: 2cqw;
    background-color: #64ccef;
    transform: rotate(45deg);
}

.slide13 .contain1 .boxes .box:nth-child(2) {
    background-color: var(--main-color);
}

.slide13 .contain2 .image {
    background-color: var(--main-color);
    height: 50%;
    width: 60%;
    position: absolute;
    top: 50%;
    left: -34%;
    transform: translate(0%, -50%);
}

.slide13 .contain2 .image .img {
    height: 136%;
    width: 187%;
    background-image: url(asserts/hand\ shake\ img.jpg);
    background-size: 230%;
    background-repeat: no-repeat;
    background-position: -25cqw center;
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    left: 2cqw;
    border: .2cqw solid white;
}

/* slide 14 */
.slide14 {
    container-type: inline-size;
    background-color: var(--main-color);
    position: relative;
}

.slide14 .contain {
    background-color: var(--nd2-color);
    height: 85%;
    margin-top: 6.3cqw;
    position: relative;
}

.slide14 .contain .title {
    color: white;
    font-weight: bold;
    font-size: 12cqw;
    position: absolute;
    top: 3cqw;
    left: 7cqw;
}

.slide14 .contain .boxes {
    display: flex;
    gap: 2cqw;
    position: absolute;
    top: 22cqw;
    left: 35cqw;
}

.slide14 .boxes1 {
    display: flex;
    gap: 2cqw;
    position: absolute;
    top: 2cqw;
    left: 8cqw;
}

.slide14 .boxes2 {
    display: flex;
    gap: 2cqw;
    position: absolute;
    top: 2cqw;
    right: 8cqw;
}

.slide14 .author {
    font-size: 2.8cqw;
    position: absolute;
    color: white;
    text-decoration: underline;
    justify-self: center;
    margin-top: 1.2cqw;
}

.slide14 .boxes1 .box {
    width: 2cqw;
    height: 2cqw;
    background-color: white;
    transform: rotate(45deg);
    align-items: center;

}

.slide14 .boxes2 .box {
    width: 2cqw;
    height: 2cqw;
    background-color: white;
    transform: rotate(45deg);
    align-items: center;
}

.slide14 .contain .boxes .box {
    width: 2cqw;
    height: 2cqw;
    background-color: #64ccef;
    transform: rotate(45deg);
}

.slide14 .contain .boxes .box:nth-child(2) {
    background-color: var(--main-color);
}

.slide14 .contain .para {
    font-size: 2.4cqw;
    color: white;
    width: 46cqw;
    position: relative;
    top: 32cqw;
    left: 9cqw;
}

.slide14 .contain .image {
    width: 33cqw;
    height: 38cqw;
    background-color: var(--main-color);
    position: absolute;
    right: 8cqw;
    top: 6cqw;
}

.slide14 .contain .image .img {
    background-image: url(asserts/thumbs\ up\ img.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
    border: .2cqw solid white;
    position: absolute;
    left: 1.5cqw;
    bottom: 1.5cqw;
}